<%- include('template/header.ejs',{tituloweb:'pagina no encontrada' }); %>

    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>
    <h3><%= descripcion %></h3>
    
<%include('template/footer') %>