 <%- include('template/header.ejs',{tituloweb:'pagina de inicio' }); %>


    <h1 class="text-primary">Bienvenidos pagina ejs</h1>
    <h1>Example heading <span class="badge text-bg-secondary">hola mundo</span></h1>

    <h2><%= titulo %></h2>
  

    <%include('template/footer') %>
